@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </article>

<hr/>
<article>
    <div class="row">        
        <div class="col text-center font-weight-bold h3">
                Custom Post Tags
        </div>
    </div>
     <div class="row">        
         <div class="col text-center">
            @foreach(var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" role="button asp-action="TagIndex" asp-route-tag ="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr/>

<div>
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 control-label font-monospace weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
            <div class="d-grid col-12 mx-auto">
            <button type="submit" class="btn btn-dark mt-1">Submit</button>
            </div>
        </form>
    }
    else
    {
        <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
        Login to add comments    
        </a>
    }
</div>


<!-- Displaying Comments related to this Post -->
<!-- Display the image of the Comment's Author -->